.content {
	> figure {
		width: 100%;
		height: 200px;
		margin-bottom: 80px;
		overflow: hidden;
		img {
			width: 100%;
			object-fit: cover;
		}
	}

	> .inner {
		width: 1180px;
		min-height: 400px;
		margin: 0px auto;
		position: relative;
		opacity: 0;
		transform: translateY(50px);
		transition: 1s;

		h1 {
			font: normal 50px/1.5 'Secular One';
			border-top: 2px solid #9d9083;
			border-bottom: 2px solid #9d9083;
			color: #222222;
			text-align: center;
		}
	}
	&.on {
		> .inner {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

@media screen and (max-width: 1179px) {
	.content {
		> .inner {
			width: 100%;
			padding: 0px 40px;
		}
	}
}
